.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: unset;
  padding: 0;
  margin: 15px 0 0 17px;
  grid-area: edit-button;
  cursor: pointer;
  background-image: url('../../../images/profile__edit-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile__edit-button  {
    margin-top: 6px;
  }
}
