.header__logo {
  width: 142px;
  height: 33px;
  background-image: url('../../../images/header__logo.svg');
}

@media screen and (max-width: 907px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 450px) {
  .header__logo {
    width: 108px;
    height: 25px;
    background-size: cover;
  }
}

