.header {
  max-width: 880px;
  height: 75px;
  margin: 45px auto 0;
  border-bottom: 1px #545454 solid;
}

@media screen and (max-width: 450px) {
  .header   {
    margin: 25px auto 0;
    height: 55px;
  }
}
