.header {
  max-width: 880px;
  margin: 45px auto 0;
  padding-bottom: 41px;
  border-bottom: 1px rgba(255, 255, 255, .2) solid;
}

@media screen and (max-width: 450px) {
  .header   {
    margin: 25px auto 0;
    padding-bottom: 31px;
  }
}
