.popup__cross {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -37px;
  top: -37px;
  cursor: pointer;
  background-color: unset;
  background: url('../../../images/close-icon.svg') center no-repeat;
  background-size: contain;
  border: none;
}

.popup__cross:hover {
  opacity: 0.6;
}

@media screen and (max-width: 882px) {
  .popup__cross {
      width: 18px;
      right: 5px;
      top: -45px;
  }
}
